@{
    ViewData["Title"] = "Home Page";
}
@using DemoProject.Models;
@model Phil;

<table>
    <tr>
        <td>Name:</td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>HEight:</td>
        <td>@Model.Height</td>    
    </tr>
</table>